<!DOCTYPE html>
<html>
<head>
        <title>scaQRCode</title>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
</head>
<body>
        <button id="scanQRCode1">scanQRCode</button>
        <script>
                wx.config({
                    debug: true,
                    appId: '{{appId}}',
                timestamp: {{sign.timestamp}},
                    nonceStr: '{{sign.nonceStr}}', 
                    signature: '{{sign.signature}}',
                    jsApiList: [ 'scanQRCode',]
                });
  document.querySelector('#scanQRCode1').onclick = function () {
    wx.scanQRCode({
      needResult: 1,
      desc: 'scanQRCode desc',
      success: function (res) {
        alert(JSON.stringify(res));
      }
    });
  };
</script>
</body>
</html>