{% extends 'library/base.html' %}
{% block title %} 收藏夹 {% endblock %}
{% block head %}
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<style>
	.booklist {
		padding: 1em;
		background: #fff;
		height: 120px;
		border-bottom: 10px solid #f9f9f9;
	}
	.booklist .detail {
		position: relative;
		top: -120%;
		left: 30%;
	}
	h3 {
		margin: 0;
	}
	.detail span {
		color: red;
	}
	h1 {
		margin: 10px 0;
	}
	img {
		width: 20%;
	}
</style>
{% endblock %}

{% block main %}
{% load static %}

	<center><h1>收藏夹</h1></center>
	{% for book in books %}
	<div class="booklist">
		<img src="{{ book.image }}"/>
		<div class="detail">
			<h3>{{ book.name }}</h3>
			<small>{{ book.author }}</small> <br />
			<small>现有本<span> {{ book.inventory }} </span>未借出</small>
		</div>
	</div>
	{% endfor %}
{% endblock %}
