{% extends 'library/base.html' %}
{% block title %} 个人中心 {% endblock %}
{% block head %}
<style>
	.user-info p{
		text-align: center;
	}
	.user-info .name {
		margin: -10px 0;
	}
	.user-info img {
		border-radius:100px; 
		width: 40%;
	}

	.gray {
		width: 100%;
		height: 10px;
		background: #ddd;
	}
	.list-block ul {
		margin: 10px 0;
	}
</style>
{% endblock %}

{% block main %}
	<div class="user-info">
		<p><img src=" http://wx.qlogo.cn/mmopen/1CfOgkK2cX0ADZ7scNe8U2CUhdd6NNX0lzgBJ8f3vPIYpfTqMn82lxXywS0l2t7u6Iw38VicGsETgWYIy3v3eKRNb94yV81SU/0
" class="ui-response"><p>
		<p class="name">破口大骂</p>
	</div>

	<div class="list-block">
		<ul><li class="item-content item-link">
				<div class="item-inner">
					<div class="item-title">个人资料</div>
				</div>
		</li></ul>

		<ul>
			<li class="item-content item-link">
				<div class="item-inner">
					<div class="item-title">借书栏</div>
				</div>
			</li>
			<li class="item-content item-link">
				<div class="item-inner">
					<div class="item-title">预订</div>
				</div>
			</li>
			<li class="item-content item-link">
				<div class="item-inner">
					<div class="item-title">收藏</div>
				</div>
			</li>
			<li class="item-content item-link">
				<div class="item-inner">
					<div class="item-title">借阅历史</div>
				</div>
			</li>
		</ul>

		<ul><li class="item-content item-link">
			<div class="item-inner">
				<div class="item-title">还书</div>
			</div>
		</li></ul>
	</div>


{% endblock %}