{% extends 'library/base.html' %}
{% block title %} 个人中心 {% endblock %}
{% block head %}
<style>
	.user-info p{
		text-align: center;
	}
	.user-info .name {
		margin: -10px 0;
	}
	.user-info img {
		display: block;
		width: 40%;
		margin-left: 30%;
		height: auto;
		border-radius: 50%;
	}

	.gray {
		width: 100%;
		height: 10px;
		background: #ddd;
	}
	.list-block ul {
		margin: 10px 0;
	}
</style>
{% endblock %}

{% block main %}
	<div class="user-info">
		<p><img src="{{image}}" class="ui-response"><p>
		<p class="name">{{name}}</p>
	</div>

	<div class="list-block">
		<ul><li class="item-content item-link">
				<div class="item-inner">
					<a href="{% url 'user:information' %}"><div class="item-title">个人资料</div></a>
				</div>
		</li></ul>

		<ul>
			<li class="item-content item-link">
				<div class="item-inner">
					<a href="{% url 'user:borrow_column' %}"><div class="item-title">借书栏</div></a>
				</div>
			</li>
			<li class="item-content item-link">
				<div class="item-inner">
					<div class="item-title">预订</div>
				</div>
			</li>
			<li class="item-content item-link">
				<div class="item-inner">
					<a href="{% url 'user:favorite' %}"><div class="item-title">收藏</div></a>
				</div>
			</li>
		</ul>

		<ul><li class="item-content item-link">
			<div class="item-inner">
				<a href="{% url 'user:backbook' %}"><div class="item-title"> 还书 </div></a>
			</div>
		</li></ul>
	</div>
{% endblock %}